* {
	padding: 0px;
	margin: 0px;
}

.lower__container ul li:hover,
.order__container a:hover,
.delivery:hover {
	border: 1px solid white;
	border-radius: 3px;
}

ul {
	display: flex;
	align-items: center;
	justify-content: left;
	list-style: none;
	gap: 20px;
	padding: 10px;
	color: white;
	background-color: #232f3e;
}

ul li:first-child {
	display: flex;
	gap: 2px;
	align-items: center;
}

ul li {
	padding: 8px;
}
